POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=quant_platform
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password

IBKR_HOST=127.0.0.1
IBKR_PORT=7496
IBKR_CLIENT_ID=1

AAPL_INITIAL_DURATION="5 Y"
AAPL_INCREMENTAL_DURATION="10 D"
IBKR_CONNECTION_TIMEOUT_SECONDS=10
IBKR_HISTORICAL_TIMEOUT_SECONDS=60
